@model IEnumerable<CityWeather>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="StyleSheet.css">
</head>
<body>
    <h1>Weather</h1>
    <div class="container flex">
        @foreach (var item in Model)
        {
            <div class="box @GetBackgroundClass(item.TemperatureFahrenheit)">
                <h2>@item.CityName</h2>
                <p>@item.DateAndTime</p>
                <h1>@item.TemperatureFahrenheit<span>&deg;F</span></h1>
                <a href="/weather/@item.CityUniqueCode" class="details-link">Details</a>
            </div>
        }
    </div>
</body>
</html>


@functions {
    string GetBackgroundClass(int temperature)
    {
        if (temperature < 50) return "blue-back";
        if (temperature < 70) return "green-back";
        return "orange-back";
    }
}
